*{
    box-sizing: border-box;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-weight: 600px;
}
body{
    color: white;
    position: relative;
    width: 100%;
    height: 100%;
    /* background-image:; */
    background: rgb(0, 0, 0,0.5) url(/monkey-786858.png);
    background-size: 800px;
    background-position: fixed ;
    background-position:center;
    background-repeat: no-repeat;
}   

#container{
    position:inherit;
    background-color: rgba(0, 0, 0, 0.9);
    max-width: 700px;
/* opacity: 0.99;*/
    border-radius:20PX;
    BOX-SHADOW:0 0 5px 1px;
    height: 100%;
    min-width:400px;
    margin-left:auto;
    margin-right: auto;
    
}
#container>*{
    margin: 20px;
    position: relative;
}

#title{
color: green;
display: flex;
justify-content: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#description{
    margin-top: -10px;
    margin-left: 50px;
    display: flex;
}

#inputs{
    display: flex;
    flex-direction: column;
   margin-left: 50%;
   margin-right: 50%;
   transform: translate(-50%);
    justify-self: center;
    width: 50%;

}
#inputs>input{
    width:100%;
    margin-right:auto;
    margin-left:auto;
    border-radius:5px;
    height: 30px;
    
}
#inputs>label{
margin-top:20px;
  display:fixed;

    
}
#dropdown{
    margin-top: 30px;

}

#radio-btn-section{
    position: relative;
    margin-top:30px;
    display: flex;
    flex-direction: column;
}
#text-area{
    display: flex;
    flex-direction:column;
    width: 80%;
    margin: 50px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

#text-area >*{
    margin: 10px;
}

#textarea{
    display: flex;
    justify-content:center;
    height: 50px;
    border-radius: 2px;
    resize: none;
    font-weight: 400;

}
#submit{
    margin-left:auto;
    margin-right:auto;
    font-size: x-large;
    font-family: sans-serif;
    width: 40%;
    height: 50px;
    border-radius:25px;
    color: green;
}